<template>
    <div>
    <input :type="data.childType"/> {{data.value}}
    </div>
</template>
<script>
export default {
    name: 'CheckField',
     props:{
        data: {type: Object, required: true}
    }
}
</script>