<template>
    <div>
        <h1>Dynamic Form</h1>
        <div v-for="(formElement, index) in formData" :key="index">
        <component :is="formElement.type" :data="formElement"></component>
        </div>
    </div>    
</template>
<script>
import TextField from './TextField.vue'
import CheckField from './CheckField.vue'
export default {
    name: 'DynamicForm',
    data(){
        return{
                formData:[]
        }  
    },
    components:{TextField, CheckField},
    mounted(){
        setTimeout(() => {
            this.formData =[
                {
                label:"Full Name", type:"TextField", childType:"text", errorMessage:"name is required",hint:"Enter Full Name", placeholder:"Please Enter Full Name", value:"Dilip"  
                },
                {
                label:"PassWord", type:"TextField", childType:"password", errorMessage:"", hint:"Enter PassWord", placeholder:"Please Enter PassWord", value:null  
                },
                {
                label:"Email", type:"TextField", childType:"email", errorMessage:"",hint:"Enter Email", placeholder:"Please Enter Email", value:"dilip@gmail.com"  
                },
                {
                label: null, type:"CheckField", childType:"checkbox", errorMessage:"",hint:"select agree",  value:"agree"  
                }
            ]
          }, 3000);
        
    }
}
</script>