<template>
<div>
    {{data.label}} : <input :type="data.childType" v-model="data.value" :placeholder="data.placeholder"/>
    <p>hint: {{data.hint}}</p>
    <p>{{data.errorMessage}}</p>
  </div>  
</template>
<script>
export default {
    name: 'TextField',
    props:{
        data: {type: Object, required: true}
    }
}
</script>